.alert {
  color: red;
  border-radius: 10px;
  margin-bottom: 15px;
  margin-left: 15px;
  display: flex;
  align-items: center;
  width: 100%;
}

.alert p {
  margin: 0;
}

.error {
  background: lightcoral;
}

.success {
  background: lightgreen;
}

.close {
  color: red;
  cursor: pointer;
  margin-right: 10px;
}
