h1, h2, h3, h4, h5, h6 {
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center;
  font-weight: bold;
}

#div-center {
  text-align: center;
  padding-top: 10px;
}

img {
  border-radius: 50%;
  height: auto;
  max-width: 60%
}
