.mainLogo {
  margin-left: 15px
}

.heading {
  margin-top: 25px;
  margin-bottom:25px;
  margin-left: 15px;
  font-weight: bold;
  color: grey;
}

.inputField {
  margin-top: 35px;
  margin-left: 15px;
  margin-bottom: 20px;
  width: 80%
}

.myContainer {
  height: 500px;
  margin: 100px;
  background-color: #AAD4C9;
  box-shadow: 2px 2px 40px 2px #ECECEC;
  border-radius: 5px;
  width: 80%;
}

.myRow {
  height: 500px
}

.myCol {
  background-color: white;
  padding: 30px;
}

.my-form-container{
  margin-top: 15%;
  padding: 25px;
}

.box:hover {
  box-shadow: 0 0 11px rgba(33,33,33,.4);
}

#rightColumn {
  /* background-image: url("https://ak5.picdn.net/shutterstock/videos/12319925/thumb/1.jpg") */
  /* background-image: url("https://live.staticflickr.com/5239/5911435807_82cd510fc0_b.jpg") */
  background-image: url("https://www.lboro.ac.uk/media/wwwlboroacuk/external/content/research/sti/slide1.png")
}
