.playerProfilePage {
  margin-top: 150px;
}

.profileContainer {
  margin: 10px;
  box-shadow: 2px 2px 40px 2px #ECECEC;
  border-radius: 5px;
  background-color: #e3e3e3;
}

.profilePicture {
  border-radius: 5%;
  width: 200px;
  height:200px;

}

.profileTextContainer {
  padding-top: 25px;
}

.profileNameText {
  font-style: italic;
  color: black;
  padding-top: 25px;
  padding-bottom: 25px;
}

.requestContainer {
  height: 500px;
  margin: 50px;
  padding-top: 150px;
  box-shadow: 2px 2px 40px 2px #ECECEC;
  border-radius: 5px;
  /* width: 40%; */
}

.requestContainer:hover {
  box-shadow: 0 0 11px rgba(33, 33, 33, 0.349);
}
