body {
  font-family: 'Montserrat', sans-serif;
}

.profilePage {
  margin-top: 15%;
}

.profileImage {
  opacity: 0.4;
  filter: alpha(opacity=40);
  font-style: italics;
}

/* Container holding the image and the text */
.profileContainer {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  overflow-y: scroll;
  max-height: 100vh;
}

.pictureContainer {
  padding-left: 20px;

}

/* Bottom right text */
.textBlock {
  position: relative;
  top: 0px;
  left: 0px;
  /* background-color: black; */
  /* color: black; */
  /* margin: auto; */
  visibility: visible;
  color: black;
  padding-left: 30;
}

.textBlockHide {
  /* position: absolute; */
  bottom: 0px;
  left: 0px;
  /* margin: auto; */
  visibility: hidden;

}

.header {
  color:gray;
  letter-spacing: 1px;
  margin-left: 20px;
  letter-spacing: 2px;
}

.profilePic {
  width: 10rem;
}

.editLink {
  color: white;
  background-color: grey;
  border: none;
  text-decoration: none;
  display: inline-block;
}

.editLink:hover {
  background-color: rgb(88, 88, 88);
}
