.heading {
  text-align: center;
  color: grey;
}

.col {
  border-right: solid 1px lightgrey;
}

.myContainer {
  margin-top: 7%;
}

.mainHeader {
  text-align: left;
  color: grey;
  margin-top: 5%;
  margin-left: 10%;
}

.info {
  color: grey;
  font-size: 12px;
}

.topDiv {
  margin-top: 15%;
  padding-top: 35px;

}

.headingDiv {
  background-color: #F3F3F3;
  padding-top:10%;
  padding-bottom:25px;
  position: absolute;
  top:0;
  left:0;
  right:0;
}
