.myContainer {
  height:auto;
  margin-top: 10%;
  padding: 50px;
  background-color: white;
  box-shadow: 2px 2px 40px 2px grey;
  background: rgb(255, 255, 255); /* Fallback for older browsers without RGBA-support */
  background: rgba(255, 255, 255, 0.8);
  width: 100%;
}

.inputField {
  width: 100%;
  margin-bottom: 10px;
}

.heading {
  text-align: center;
  font-family: serif;
}

.topDiv {
  background-image: url('https://images-na.ssl-images-amazon.com/images/I/81IamMaWpYL._SL1500_.jpg');
}

.signupButton {
  text-align: center;
  width: 100%;
  background-image: linear-gradient(to right, #4CAF50, #59C657);
  border: none;
  color: white;
  padding: 5px;
  width: 100%;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 5px;
  box-shadow: 1px 1px 4px grey;
  font-size: 18px;
}

.signupButton:hover {
  box-shadow: 0 0 11px rgba(33,33,33,.4);
}

.headingDiv {
  background-image: linear-gradient(to right, #357151, #669E65);
  border: none;
  color: white;
  padding: 5px;
  width: 60%;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 18px;
  margin: 4px 2px;
  border-radius: 12px;
  margin-bottom: 15px;
}
