.myContainer {
  height:auto;
  margin: 100px;
  padding: 100px;
  background-color: white;
  box-shadow: 2px 2px 40px 2px grey;
}

.inputField {
  width: 90%;
  margin-bottom: 10px;
}

.heading {
  text-align: center;
}
