
.gameCard:hover {
  transform: scale(1.025)
}

.gameCardOutline {
  outline: none;
  width: 36rem;
  
}

.gameCard {
  background-color: #DAF1D4;
  border-right: solid 10px #41924B;
  padding-left: 25px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-top: 15px;
  
}



.gameDate {
  color: grey;
  font-size: small;
  text-align: right;
  margin-right: 10px;
}

.player {
  font-size: 20px;
  font-weight: bold;
}
