.resultWin {
  background-color: #DAF1D4;
  border-left: solid 10px #41924B;
  padding-left: 25px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.resultWin:hover {
  transform: scale(1.025)
}

.resultWin:hover, .resultLose:hover, .resultUndecided:hover {
  transform: scale(1.025)
}

.resultLose {
  background-color: #F7DBDB;
  border-left: solid 10px #D74B4B;
  padding-left: 25px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.resultUndecided {
  background-color: #F4F5CB;
  border-left: solid 10px #EEBF68;
  padding-left: 25px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.gameDate {
  color: grey;
  font-size: small;
  text-align: right;
  margin-right: 10px;
}
