body {

  font-family: times;

}

h5 {
  font-weight: bold;
  color: grey;
}

input, select {
  /* border-top-style: hidden;
  border-right-style: hidden;
  border-left-style: hidden;
  border-bottom-style: groove; */
  background-color: white;
  padding: 10px;
  border-radius: 20px;
  /* outline: none; */
}

input::placeholder {
  font-size: 18px;
}

input:focus,
input:active,
input:hover {
  /* border-color: transparent; */
  box-shadow: 0 0 5px rgba(96, 169, 222, 1);
  border: 1px solid rgba(96, 169, 222, 1);
  /* border: 4px solid #9ecaed; */
  background-color: white;
}

select:focus,
select:active,
select:hover {
  /* border-color: transparent;
  border: 2px solid #1c87c9; */
  box-shadow: 0 0 5px rgba(96, 169, 222, 1);
  border: 1px solid rgba(96, 169, 222, 1);
  background-color: white;
}

label {
  color: grey;
}

button {
  background-image: linear-gradient(to right, #4CAF50, #59C657);
  border: none;
  color: white;
  padding: 5px;
  width: 60%;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 18px;
  margin: 4px 2px;
  border-radius: 5px;
}


/* button:hover {
  box-shadow: 0 0 11px rgba(33,33,33,.4);
} */

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

/* nav {
  position: fixed !important;
} */
