body {
  font-family: times;
}

h5 {
  /* margin-top: 25px;
  margin-bottom:25px;
  margin-left: 15px; */
  font-weight: bold;
  color: grey;
}

input, select {
  border-top-style: hidden;
  border-right-style: hidden;
  border-left-style: hidden;
  border-bottom-style: groove;
  background-color: white;
  outline: none;
}

input:focus,
input:active,
input:hover {
  border-color: transparent;
  border-bottom: 2px solid #1c87c9;
  background-color: white;
}

select:focus,
select:active,
select:hover {
  border-color: transparent;
  border: 2px solid #1c87c9;
  background-color: white;
}


label {
  color: grey;
}

button {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 5px;
  width: 60%;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  border-radius: 12px;
}

/* button:hover {
  box-shadow: 0 0 11px rgba(33,33,33,.4);
} */

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}
